NEXT_PUBLIC_VOXEN_CONTRACT=0xA7c7B3F81dbbC511029a9A07FDfBf97dC1A822f7
NEXT_PUBLIC_GENLAYER_RPC=https://rpc-bradbury.genlayer.com
NEXT_PUBLIC_GENLAYER_EVM_RPC=https://rpc.testnet-chain.genlayer.com
NEXT_PUBLIC_GENLAYER_CHAIN_ID=4221
