NEXT_PUBLIC_VOXEN_CONTRACT=0x7E9A12C4e2a53A760065E98BeF726741334A4D89
NEXT_PUBLIC_GENLAYER_RPC=https://rpc-bradbury.genlayer.com
NEXT_PUBLIC_GENLAYER_EVM_RPC=https://rpc.testnet-chain.genlayer.com
NEXT_PUBLIC_GENLAYER_CHAIN_ID=4221
